<form (ngSubmit)="onSignin(f)" #f="ngForm">

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" ngModel class="form-control" class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" ngModel class="form-control">
  </div>

  
  <div class="form-group">
    <label for=""></label>
    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary">
  </div>

</form>