<div class="row">
	<div class="col-xs-12">
		<form class="form-horizontal" (ngSubmit)="onAddIngredient(f)" #f="ngForm">
			<div class="form-group col-sm-4">
				<label for="name">Name</label>
				<input  type="text" 
						name="name" 
						id="name" 
						class="form-control"
						ngModel
						name="name"
						required>
			</div>
			<div class="form-group col-sm-2">
				<label for="ammount">Ammount</label>
				<input  type="number" 
						name="ammount" 
						id="ammount" 
						class="form-control"
						ngModel
						name="ammount"
						required
						pattern="^[1-9]+[0-9]*$">
			</div>
			<div class="col-sm-12">
				<button class="btn btn-success btn-sm" 
						type="submit"
						[disabled]="!f.valid"
				>
				{{ editMode ? 'Update' : 'Add'	}}
			</button>
				<button class="btn btn-danger btn-sm" 
						type="button" 
						(click)="onDelete()"
						*ngIf="editMode">Delete</button>
				<button class="btn btn-warning btn-sm" type="button" (click)="clearForm()">Clear</button>
			</div>
		</form>	
	</div>
</div>